
.Button {
    background-color: transparent;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 10px 40px;
    margin: 10px;
    cursor: pointer;
}
.Success {
    background-color: #4CAF50;
}

.Danger {
    background-color: #f44336;
}
.Submit{
    background-color: cornflowerblue;
}
.Button:disabled{
    background-color : #ccc;
    cursor: not-allowed; 
}
