.Td {
    background-color : #ccc;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 15px 5px;
    margin: 2px;
    cursor: pointer;
    width: 5%;
}